Archive/
files/audio/**
files/code/**
files/images/**
files/levels/**
files/main/**
files/templates/**
Unused/
planning/
codeBase/hold/

**/Thumbs.db
**/*.nppp

#grunt dependencies
node_modules/
dist/